body {
  font-family: sans-serif;
  margin: 0 50px;
  background: linear-gradient(139deg, rgba(193,62,62,1) 0%, rgba(230,179,50,1) 100%);
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.app {
  background-color: #fff;
  width: 300px;
  height: 500px;
  border: 5px solid #abcea1;
  border-radius: 8px;
  padding: 15px;
  overflow-y: scroll;
}

.app::-webkit-scrollbar {
  width: 0 !important;
}

#addNew {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(171, 206, 161, 0.35);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.fa-plus {
  background-color: #abcea1;
  padding: 3px;
  border-radius: 3px;
}

#tasks {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
}

#tasks div {
  border: 3px solid #abcea1;
  background-color: #e2eede;
  border-radius: 6px;
  padding: 5px;
  display: grid;
  gap: 4px;
}

#tasks div .options {
  justify-self: center;
  display: flex;
  gap: 20px;
}

#tasks div .options i {
  cursor: pointer;
}

#msg {
  color: red;
}

.hello{
  background-color: aqua;
  border-radius: 4px;
  border: 2px solid blue;
  margin: 1px 0px;
}

h3{
  color: rgb(17, 179, 22);
}
h4{
  color: #1894b7;
}
h5{
  background-color: #18a6b6;
}

#title{
  background-color: rgb(138, 231, 231);
  border-radius: 5px;
}

.app{
  background-color: rgb(126, 218, 115);
  border-radius: 5px;
}

#addNew {
  background-color: #db8eb3;
}